---
layout: home
title: Hakkımda
permalink: /hakkimda/
redirect_from: /tr/
---

<div class="home-about">
  <h1>
    <a href="/">{{ site.title }}</a>
  </h1>
  <p class="lead">
    <b>Yazılım Geliştirici</b></br>
    <b>İstanbul Teknik Üniversitesi</b> - <b>Bilgisayar Mühendisliği</b> mezunu</br>
  </p>

  <ul class="horizontal-menu social-medias">
    {% if site.linkedin_username %}
    <li>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
        <i class="fa fa-linkedin"></i> LinkedIn
      </a>
    </li>
    {% endif %}
    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="fa fa-twitter"></i> Twitter
      </a>
    </li>
    {% endif %}
    {% if site.github_username %}
    <li>
      <a href="https://www.github.com/{{ site.github_username }}" target="_blank">
        <i class="fa fa-github"></i> GitHub
      </a>
    </li>
    {% endif %}
  </ul>
</div>
