version: 2.1

jobs:
  build:
    steps:
      - run: echo "this is the build job"
  test:
    steps:
      - run: echo "this is the test job"

workflows:
  build_and_test:
    jobs:
      - build
      - test
