* {
  font-family: 'Ubuntu', sans-serif;
}

.home {
  &.home-body{
    display: table;
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255,255,255,.5);
    background-color: #202020;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
  }
  .home-about h1{
    color: #369;
    font-size: 4.25rem;
    font-family: 'Ubuntu', sans-serif;
    margin-top: .5rem;
  }
  .container{
    max-width: 40rem;
    display: table-cell;
    vertical-align: middle;
  }
}

@media (max-width: 32em) {
  .home.home-body{
    padding: 1rem 0.5rem;
    .container{
      padding-left: 0.1rem;
      padding-right: 0.1rem;
    }
    .home-about{
      h1{
        font-size: 2.90rem;
      }
      p.lead{
        font-size: 1.00rem;
      }
      ul.horizontal-menu{
        a{
          font-size: 16px;
        }
      }
    }
  }
}

ul.horizontal-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul.horizontal-menu li{
  display: inline;
}

ul.horizontal-menu li a{
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
  border: 1px solid #202020;
  display: inline-block;
  width: 8em;
}

ul.horizontal-menu li a:hover{
  color: #fff;
  background-color: #369;
}

.home .home-about{
  margin-bottom: 10px;
}

@media (max-width: 48em) {
  /*
  ul.horizontal-menu li{
    display: block;
  }
  */
  ul.horizontal-menu li a{
    display: inline-block;
    margin: 2px 0;
  }
}


.sidebar{
  padding: 3rem 0.50rem;
}
.sidebar .home{
  padding-left: 0;
  padding-right: 0;
  bottom: 8rem;
}
.sidebar .home h1{
  font-size: 2.50rem;
}
.sidebar .home .lead{
  font-size: 1.00rem;
}

.sidebar  ul.horizontal-menu li{
  display: block;
}
.sidebar  ul.horizontal-menu li a{
  display: inline-block;
  margin: 2px 0;
}

.default-body .sidebar {
  position: initial;
  top: initial;
  left: initial;
  bottom: initial;
  width: initial;
  text-align: center;
  padding: 1rem 0.50rem;
}

.default-body .sidebar .sidebar-sticky{
  position: initial;
  right: initial;
  bottom: initial;
  left: initial;
}

.default-body .sidebar h1{
  margin: 0.3rem 0;
  font-size: 2.2rem;
}
.default-body .sidebar .lead{
  font-size: 0.90rem;
  margin-bottom: 0.6rem;
}
.default-body .sidebar ul.horizontal-menu.social-medias li a{
  font-size: 17px;
}
.default-body .sidebar a.link{
  font-size: 17px;
}

@media (min-width: 30em) {
  .default-body .content {
    max-width: 30rem;
    margin: 0 auto;
  }
}

@media (min-width: 48em) {
  .default-body .content {
    max-width: 45rem;
    margin: 0 auto;
  }
}

@media (min-width: 64em) {
  .default-body .content {
    max-width: 55rem;
    margin: 0 auto;
  }
}

.default-body .sidebar ul.horizontal-menu li {
  display: inline;
}

.default-body .sidebar ul.horizontal-menu li a{
  font-size: 19px;
}


ul.horizontal-menu li a{
  font-size: 19px;
  text-align: left;
  position: relative;
  padding-left: 40px;
  width: 7.40em;
}

ul.horizontal-menu li a i.fa{
  top: 9px;
  left: 12px;
  position: absolute;
}
